<footer>
    <hr>
    <div class="card-footer text-white" style="background-color: #D65FF5;">
        <div class="card-body">
            <div class="nav float-start">
                <h5 class="card-title">Copyright</h5>
                <ul class="nav">
                    <li class="nav-item">
                        <p class="card-text">Copyright©2022, Dalcimar Luiz.
                            Todos os direitos reservados.
                            Todos os textos, imagens, gráficos, animações,
                            vídeos, músicas,<br>
                            sons e outros materiais são protegidos
                            por direitos autorais e outros direitos
                            de propriedade intelectual pertencentes à
                            Dalcimar Luiz.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="nav justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i style="font-size: 30px;" class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i style="font-size: 30px;" class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i style="font-size: 30px;" class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>