<footer class="container-fluid text-center bg-footer mt-3">
    <div class="card-footer fixed-bottom" style="background-color: #D65FF5;">
        <div class="card-body">
            <div class="row">
                <p>&copy; Copyright; Todos direitos reservados a Dalcimar Luiz</p>
            </div>
            <h2 class="sm-heading">
                Desenvolvedor Full Stack, Analista de Suporte &
                analista de Automação
            </h2>
            <div class="icons justify-content-center">
                <ul class="nav justify-content-center mt-3">
                    <li class="nav-item mx-3">
                        <a href="https://www.linkedin.com/in/dalcimar-luiz-developer" target="_blank">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="https://github.com/dalcymar/projeto-angular-usina.git" target="_blank">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="https://wa.me/34988496652" target="_blank">
                            <i class="fab fa-whatsapp fa-2x"></i>
                        </a>
                    </li>
                </ul>           
            </div>
        </div>
    </div>
</footer>
