<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <img src="../assets/images/karolina-640px.jpg" height="600px" width="400px" class="card-img-top"
                        alt="Karolina-grabowska">
                    <div class="card-body">
                        <h5 class="card-title">Alimento da sua mesa</h5>
                        <p class="card-text">
                            Um cardápio balanceado ajuda o sitema imunológico; melhora o humor e a memória,
                            reduz o cansaço eo estesse, aumenta a qualidade do sono, previne o envelhecimento
                            precoce da pele, melhora o sistema disgestivos e fornece disposição e mais energia
                            para as atividades diárias.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <img src="../assets/images/koolshooters-640px.jpg" height="600px" width="400px" class="card-img-top"
                        alt="KoolShooters">
                    <div class="card-body">
                        <h5 class="card-title">O Valor do Alimento</h5>
                        <p class="card-text">
                            Se alimentar de forma saudável e equilibrada é essencial para garantir qualidade de vida.
                            Isso porque, além de fornecer energia e bem-estar geral, através de uma boa alimentação
                            é possível prevenir e combater doenças, manter o peso corporal saudável e ter um bom
                            desenvolvimento físico. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <img src="../assets/images/health-fruits-640x426.jpg" height="600px" width="400px" class="card-img-top"
                        alt="KoolShooters">
                    <div class="card-body">
                        <h5 class="card-title">Confira algumas dicas de alimentos</h5>
                        <p class="card-text">
                            <em>Outras dicas importantes são:</em> ter horários para se alimentar, substituir biscoitos
                            e bolachas por frutas, optar por farinha integral no lugar da branca, valendo
                            para o consumo de bolos, pães e massas, incluir gorduras saudáveis como coco,
                            abacate, manteiga ou ghee, castanhas, cacau e ômega 3 e evitar frituras.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>