<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/metsop.jpg" height="64px" width="64" alt="dalcy" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">DALCY-AUTOMAÇÃO</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    SEGMENTOS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">ALIMENTOS</a>      
                    <a class="dropdown-item" href="#">AUTOMAÇÃO INDUSTRIAL</a>
                    <a class="dropdown-item" href="#">INDUSTRIAS DE ÓLEOS VEGETAIS E BIODIESEL</a>
                    <a class="dropdown-item" href="#">AUTOMAÇÃO RESIDENCIAL</a>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    PRODUTOS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">EQUIPAMENTOS</a>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    SERVIÇOS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">ASSISTÊNCIA TÉCNICA</a>
                    <a class="dropdown-item" href="#">CALDEIRARIA</a>
                    <a class="dropdown-item" href="#">MANUTENÇÃO, REFORMA E MODERNIZAÇÃO</a>
                    <a class="dropdown-item" href="#">MONTAGEM INDUSTRIAIS</a>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    PARCEIROS TECNOLOGICOS
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    CONTATO
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="contato">CONTATO</a>
                    <a class="dropdown-item" href="#">TRABALHE CONOSCO</a>
                </ul>
            </li>
        </ul>
    </div>
</nav>