<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col-12 col-md-9 mb-3 mt-3">
            <div class="card-body">
                <h3 class="card-title mb-3"> O que é automação?</h3>
                <p class="card-text">
                    <b>A automação</b> é a utilização de ferramentas tecnológicas para auxiliar
                    e facilitar tarefas nas quais a interferência humana pode ser minimizada.
                    A automação pode ser aplicada em diferentes contextos de negócio,
                    seja na área comercial, industrial ou empresarial.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">
                    Automação Básica
                </h5>
                <p class="mt-2">
                    Automação básica
                    Automação básica automatiza tarefas simples e rudimentares. O nível de automação aplicado é
                    relacionado
                    a digitalização de trabalhos através de ferramentas que centralizam tarefas rotineiras.

                    Como, por exemplo, a utilização de um sistema de mensagens compartilhadas em vez de informações
                    provenientes de diferentes silos. Robotic process automation(RPA) é um dos tipos de automação
                    básica.
                </p>
            </div>
            <div class="col-md-4">
                <h5>
                    Automação de Processos
                </h5>
                <p class="mt-2">
                    A automação de processos gerencia processos de negócios
                    com a intenção de criar processos uniformes e com transparência.
                    Geralmente é operado por softwares dedicados e aplicativos de negócios.
                    Ao usar a automação de processos é possível aumentar a produtividade
                    e a eficiência nos seus negócios.
                    Ela pode gerar insights nos desafios de
                    negócios e sugerir soluções. Process mining e automação
                    de fluxo de trabalho são exemplos de automação de processos
                </p>
            </div>
            <div class="col-md-4">
                <h5>
                    Automação Inteligente
                </h5>
                <p class="mt-2">
                    Automação Inteligente possui Inteligência Artificial (IA),
                    e é o nível mais complexo de automação.
                    A inclusão de IA significa que as máquinas podem “aprender”
                    e tomar decisões baseadas em situações encontradas no passado
                    nas quais elas já realizaram análises. Por exemplo,
                    no serviço ao cliente, os assistentes virtuais podem
                    reduzir custos enquanto capacitam tanto os agentes humanos como
                    os clientes, criando uma experiência ideal de atendimento ao cliente.
                </p>
            </div>
        </div>
    </div>
</div>