<div class="container">
    <div class="card w-100 my-5">
        <div class="card-body">
            <h3 class="card-title">Contato</h3>
            <form>
                <div class="row my-4">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="digite seu nome">
                            <label for="floatingInput">Nome</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>
                </div>
                <div class=" row my-4">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="tel" class="form-control" id="floatingInput" placeholder="digite seu telefone">
                            <label for="floatingInput">Telefone</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="assunto">
                            <label for="floatingInput">Assunto</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>
                <div class="row my-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success me-md-2" type="button">Enviar</button>
                        <button class="btn btn-danger" type="button">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>