<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="../assets/images/3d-industry-40-640px.jpg" height="600px" width="400px" class="card-img-top"
                    alt="autor">
                    <a href='https://br.freepik.com/fotos-vetores-gratis/industria'>Indústria foto criado por freepik - br.freepik.com</a>
                <div class="card-body">
                    <h5 class="card-title text-center">Revolução da Indústria</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="../assets/images/e-s-unsplash.jpg" height="600px" width="400px" class="card-img-top"
                    alt="KoolShooters">
                <div class="card-body">
                    <h5 class="card-title text-center">Análise Automatizados</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="../assets/images/640-640-instrumentacao.jpg" height="600px" width="400px" class="card-img-top"
                    alt="freepik">
                <div class="card-body">
                    <h5 class="card-title text-center">Monitoramento Automatizado</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
