<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="../assets/images/3d-industry-40-640px.jpg" height="600px" width="400px" class="card-img-top"
                    alt="autor">
                <a href='https://br.freepik.com/fotos-vetores-gratis/industria'>
                    Conheça o autor da imagem</a>
                <div class="card-body">
                    <h5 class="card-title text-center">Revolução da Indústria</h5>
                    <p class="card-text">
                        <strong> O futuro é digital</strong> - incluindo o setor da indústria.
                        Graças à digitalização e processos interligados,
                        as empresas podem produzir de forma mais flexível e confiável,
                        além de responder mais rapidamente a possíveis problemas e
                        falhas nos equipamentos. Componentes dos conversores aprimorados
                        para digitalização são um passo importante em direção à automação digital.
                        Utilize as vantagens do mundo digital para entrar numa nova dimensão
                        de disponibilidade, facilidade de manutenção, produtividade e eficiência
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="../assets/images/e-s-unsplash.jpg" height="600px" width="400px" class="card-img-top"
                    alt="KoolShooters">
                <div class="card-body">
                    <h5 class="card-title text-center">Análise Automatizados</h5>
                    <p class="card-text">
                        Problemas encontrados frequentemente em redes PROFIBUS,
                        tais como ruído, falha em terminações, endereços duplicados,
                        fios quebrados e erros de configuração são fácil e rapidamente
                        identificados.
                        Um só equipamento e um único software para diagnosticar
                        meio físico e protocolo de redes <strong>PROFIBUS DP</strong> e 
                        <strong>PA.</strong> 
                        Menos hardware para carregar em campo; um único software
                        para aprender a usar.
                        Conheças as vantagens que a tecnologia trás para seu sistema
                        e gerencie o seu tempo e aumente sua produtivadade.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="../assets/images/640-640-instrumentacao.jpg" height="600px" width="400px" class="card-img-top"
                    alt="freepik">
                <a href='https://br.freepik.com/fotos-vetores-gratis/negocio'>
                    Conheça o criador da imagem
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center">Monitoramento Automatizado</h5>
                    <p class="card-text">
                        A cada equipamento ou etapa do processo, há um sensor que permite
                        ao funcionário fazer o acompanhamento do estado de cada um
                        deles em relação à etapa do processo, quando haverá parada para
                        manutenção, por exemplo. A IoT também permite controlar a produção
                        final do período em avaliação, fazer análise e retroalimentação dos
                        dados coletados durante o processo de produção.
                        Analisar a dinâmica de variáveis do processo em tempo real é um
                        fator primordia para conseguimos resultados excelentes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>